blosc2==2.0.0 ; python_version >= "3.9" and python_version < "3.12"
cython==0.29.36 ; python_version >= "3.9" and python_version < "3.12"
joblib==1.3.1 ; python_version >= "3.9" and python_version < "3.12"
msgpack==1.0.5 ; python_version >= "3.9" and python_version < "3.12"
networkx==3.1 ; python_version >= "3.9" and python_version < "3.12"
nilm-metadata @ git+ssh://git@gitlab.esat.kuleuven.be/premises/nilmtk-metadata.git@main ; python_version >= "3.9" and python_version < "3.12"
numexpr==2.8.4 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.25.1 ; python_version >= "3.9" and python_version < "3.12"
packaging==23.1 ; python_version >= "3.9" and python_version < "3.12"
pandas==2.0.3 ; python_version >= "3.9" and python_version < "3.12"
py-cpuinfo==9.0.0 ; python_version >= "3.9" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.12"
pytz==2023.3 ; python_version >= "3.9" and python_version < "3.12"
pyyaml==6.0 ; python_version >= "3.9" and python_version < "3.12"
scikit-learn==1.3.0 ; python_version >= "3.9" and python_version < "3.12"
scipy==1.11.1 ; python_version >= "3.9" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
tables==3.8.0 ; python_version >= "3.9" and python_version < "3.12"
threadpoolctl==3.2.0 ; python_version >= "3.9" and python_version < "3.12"
tzdata==2023.3 ; python_version >= "3.9" and python_version < "3.12"
