annotated-types==0.8.0 ; python_version == "3.13"
anyio==4.14.2 ; python_version == "3.13"
blosc2==4.11.0 ; python_version == "3.13"
certifi==2026.7.22 ; python_version == "3.13"
contourpy==1.3.3 ; python_version == "3.13"
cycler==0.12.1 ; python_version == "3.13"
fonttools==4.63.0 ; python_version == "3.13"
h11==0.16.0 ; python_version == "3.13"
h2==4.4.1 ; python_version == "3.13"
hpack==4.2.0 ; python_version == "3.13"
httpcore==1.0.9 ; python_version == "3.13"
httpx==0.28.1 ; python_version == "3.13"
hyperframe==6.1.0 ; python_version == "3.13"
idna==3.19 ; python_version == "3.13"
joblib==1.5.3 ; python_version == "3.13"
kiwisolver==1.5.0 ; python_version == "3.13"
markdown-it-py==4.2.0 ; python_version == "3.13"
matplotlib==3.11.1 ; python_version == "3.13"
mdurl==0.1.2 ; python_version == "3.13"
msgpack==1.2.2 ; python_version == "3.13"
narwhals==2.25.0 ; python_version == "3.13"
ndindex==1.10.1 ; python_version == "3.13"
networkx==3.6.1 ; python_version == "3.13"
nilm-metadata @ git+https://github.com/ejpalacios/nilm_metadata.git@76078ae5e319419470cc931c9850495d235e5035 ; python_version == "3.13"
numexpr==2.14.2 ; python_version == "3.13"
numpy==2.5.2 ; python_version == "3.13"
packaging==26.3 ; python_version == "3.13"
pandas==3.0.5 ; python_version == "3.13"
pillow==12.3.0 ; python_version == "3.13"
py-cpuinfo==9.0.0 ; python_version == "3.13"
pydantic-core==2.46.4 ; python_version == "3.13"
pydantic==2.13.4 ; python_version == "3.13"
pygments==2.21.0 ; python_version == "3.13"
pyparsing==3.3.2 ; python_version == "3.13"
python-dateutil==2.9.0.post0 ; python_version == "3.13"
pytz==2026.3.post1 ; python_version == "3.13"
pyyaml==6.0.3 ; python_version == "3.13"
rich==15.0.0 ; python_version == "3.13"
scikit-learn==1.9.0 ; python_version == "3.13"
scipy==1.18.1 ; python_version == "3.13"
six==1.17.0 ; python_version == "3.13"
tables==3.11.1 ; python_version == "3.13"
threadpoolctl==3.6.0 ; python_version == "3.13"
typing-extensions==4.16.0 ; python_version == "3.13"
typing-inspection==0.4.4 ; python_version == "3.13"
tzdata==2026.3 ; python_version == "3.13" and (sys_platform == "win32" or sys_platform == "emscripten")
